<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="https://www.worldometers.info/world-population/" />
    <add key="browser" value="Chrome" />
    <add key="EmailAddressTo" value="balaji.g@siemens.com" />
    <add key="EmailAddressFrom" value="balaji.g.ext@sivantos.com" />
    <add key="Host" value="smtpgate-emea.audiology-solutions.net" />
  </appSettings>
</configuration>